<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ url_for('core_views.page_index') }}">Your Brand</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <!-- <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">Features</a> -->
    </li>
    <li class="nav-item">
      <!-- <a class="nav-link" href="#">Pricing</a> -->
    </li>
  </ul>
  <ul class="navbar-nav">
    {% if current_user.is_authenticated: %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('user_views.page_profile') }}">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('user_views.page_logout') }}">Log Out</a>
    </li>
    {% else: %}
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('user_views.page_login') }}">Log In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('user_views.page_register') }}">Sign Up</a>
    </li>
    {% endif %}
  </ul>
</nav>